<?xml version="1.0" encoding="utf-8"?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "tv.jesuitinasdonosti.app"
    version     = "0.0.2">
	<gap:plugin name="org.apache.cordova.splashscreen"/>
	<icon src="icon.png"/>
	
    <name>Jesuitinas TV</name>
    <description>
        Listado de los videos de la web.
    </description>
    <author email="galda@prismacm.com" href="http://prismacm.com">
        Galda
    </author>
    <content src="index.html"/>

	
	<preference name="show-splash-screen-spinner" value="true"/>
	<preference name="auto-hide-splash-screen" value="false"/>
	<preference name="SplashScreenDelay" value="10000" />
	
	<gap:splash src="www/splash.png"/>
    <access origin="*"/>
</widget>
	