<?xml version='1.0' encoding='utf-8'?>
<widget id="tv.jesuitinasdonosti.app" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>JesuitinasAppTv</name>
    <description>
        Listado de los videos de la web.
    </description>
    <author email="galda@prismacm.com" href="http://prismacm.com">
        Galda
    </author>
    <content src="index.html" />

    <access origin="*" />
</widget>
