<?xml version="1.0" encoding="utf-8"?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "tv.jesuitinasdonosti.app"
    version     = "0.0.2">

	<icon src="icon.png"/>
	
    <name>Jesuitinas TV</name>
    <description>
        Listado de los videos de la web.
    </description>
    <author email="galda@prismacm.com" href="http://prismacm.com">
        Galda
    </author>
    <content src="index.html"/>
	<preference name="permissions" value="none"/>

	
	<preference name="LoadingDialog" value="My Title,My Message"/>	
	<preference name="SplashScreenDelay" value="10000"/>
	<access origin="*"/>
</widget>
	